

h1{color:#0011ff }
img{width:400px;}
#thirdDiv{height:600px; width:500px; }
#thirdDiv{background-color: rgb(54, 30, 156);}
#thirdDiv{padding:50px; border-style: double;}
#spanId{font-size:18px; margin: 50px;}
